<div class="smMy">
           @Html.FrontHtml().RenderView("Membership.MyAccount.MyInfo",ViewData)
            @Html.FrontHtml().RenderView("Membership.MyAccount.Product",ViewData)

           @Html.FrontHtml().RenderHtmlBlock("Membership.MyAccout.Menu")
           @Html.FrontHtml().RenderView("Membership.MyAccount.QnA",ViewData)
           @Html.FrontHtml().RenderView("Membership.MyAccount.Report",ViewData)
        </div>