@if (ViewBag.Article != null)
{
    <div class="bbsView">
        <div class="titWrap">
            <h1 class="tit">@ViewBag.Article.Title</h1>
            <ul class="viewInfo">
                @*<li><span>Product</span>AhnLab V3 Click</li>*@
                <li><span>@("Date".Label())</span>@ViewBag.Article.UtcCreationDate.ToString("d")</li>
                <li><span>@("Hit".Label())</span>@ViewBag.Article.Hit</li>
            </ul>
        </div>
        <div class="view">
            @Html.Raw(ViewBag.Article.Content)
        </div>
        @*<div class="bbsMove">
                <p class="prev">
                    <span>Prev</span>
                    No previous page.
                </p>
                <p class="next">
                    <span>Next</span>
                    <a onclick="javascript:getView(458); return false;" href="#">What do the different colored lights on V3 Click mean?</a>
                </p>
            </div>*@
        <div class="btnWrap clfix">
            <div class="fr">
                <a class="btnCm" href="@Url.FrontUrl().PageUrl("support/virusfaq")">@("Back to the List".Label())</a>
            </div>
        </div>
    </div>
}