@functions{
    private List<TextContent> GetChildren(string parentUUID)
    {
        return ((TextContent[])ViewBag.Categories).ToList().Where(t => !string.IsNullOrEmpty(t.ParentUUID) && t.ParentUUID == parentUUID).ToList();
    }
}
@if (ViewBag.ParentCategories != null && ViewBag.ParentCategories.Length > 0)
{
    <nav id="naviMenu">
        <ul>
            @foreach (TextContent parent in ViewBag.ParentCategories)
            {
                var i = 0;
                var children = GetChildren(parent.UUID);

                <li class="@parent["CssClass"]">
                    <!-- mouseover, focus 일 경우 li 태그에 on 클래스 추가, 선택되었을 때는 selected 클래스 추가 -->
                    <a href="@(!string.IsNullOrEmpty(parent["Url"].ToString()) ? parent["Url"].ToString() : "")" class="oneLink">@parent["Name"]</a>
                    @if (children != null && children.Any())
                    {
                        <div class="lyMu">
                            <div class="lyMuWrap">
                                <div class="lyMuCont">
                                    @if (parent["CssClass"].ToString() != "muProd")
                                    {
                                        @Html.Raw("<div class=\"fl\">")
                                    }
                                    @foreach (TextContent child in children)
                                    {
                                        var products = ((TextContent[])ViewBag.Products).Where(p => p.Categories("Catalog").Select(c => c.UUID).Contains(child.UUID));
                                        var technicals = ((TextContent[])ViewBag.Technicals).Where(p => p.Categories("Catalog").Select(c => c.UUID).Contains(child.UUID));
                                        <div class="naviWrap @(i == 0 || i % 4 == 0 ? "clear" : "")">
                                            <p class="tit"><a href="@(!string.IsNullOrEmpty(child["Url"].ToString()) ? child["Url"].ToString() : "")">@child["Name"]</a></p>
                                            @if (products != null && products.Any())
                                            {
                                                <ul class="thrList">
                                                    @foreach (var product in products)
                                                    {
                                                        <li><a href="@Url.FrontUrl().PageUrl("product", new { userkey = product.UserKey})">@product["Name"]</a></li>
                                                    }
                                                    @*<li><a href="product/productSubDetailea32.html?prodSeq=1112">AhnLab MDSE</a></li>*@
                                                </ul>
                                            }
                                            @if (technicals != null && technicals.Any())
                                            {
                                                <ul class="thrList">
                                                    @foreach (var item in technicals)
                                                    {
                                                        <li><a href="@Url.FrontUrl().PageUrl("support/technical", new { userkey = item.UserKey })">@item["Title"]</a></li>
                                                    }
                                                    @*<li><a href="product/productSubDetailea32.html?prodSeq=1112">AhnLab MDSE</a></li>*@
                                                </ul>
                                            }
                                        </div>
                                            i++;
                                    }
                                    @if (parent["CssClass"].ToString() != "muProd")
                                    {
                                        @Html.Raw(" </div>")
                                    }
                                    @if (parent["CssClass"].ToString() != "muProd")
                                    {
                                        <div class="fr">
                                            @Html.Raw(parent["HtmlAdv"])
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </li>
            }
        </ul>
    </nav>
}
