<footer id="footer">
    <div class="ftWrap">
        <ul class="ftMenu">
            <li><a href="@Url.FrontUrl().PageUrl("privacy-policy")">Privacy &amp; Security</a></li>
            <li><a href="@Url.FrontUrl().PageUrl("terms-of-use")">Terms of Use</a></li>
            <li><a href="@Url.FrontUrl().PageUrl("contact-us")">Contact Us</a></li>
            <li><a href="@Url.FrontUrl().PageUrl("sitemap")">Sitemap</a></li>
        </ul>
        <div class="locSiteWrap globalSiteCombo">
            <p class="locSite"><a href="#" class="comboLink2" title="Change Country">GLOBAL</a></p>
            <!-- layer -->
            <div class="lyUtill" id="">
                <div class="lyWrap">
                    <p><a href="/kr" target="_blank" rel="nofollow" class="fKr" title="New Window">한국 (한국어)</a></p>
                    <p class="selected"><a href="@Url.FrontUrl().PageUrl("home")" target="_blank" rel="nofollow" title="New Window">Global (English)</a></p>
                </div>
            </div>
            <!-- //layer -->
        </div>
        <p class="copyright">&copy; AhnLab, Inc. All rights reserved.</p>
    </div>
</footer>