@if (Model != null)
{ 
<div>
	<h3 class="title" @ViewHelper.Edit(Model,"Name")>@Html.Raw(Model.Name ?? "")</h3>
	<div class="content">
		<div @ViewHelper.Edit(Model,"Url")>@Html.Raw(Model.Url ?? "")</div>
		<div @ViewHelper.Edit(Model,"IsHot")>@Html.Raw(Model.IsHot ?? "")</div>
		<div @ViewHelper.Edit(Model,"Order")>@Html.Raw(Model.Order ?? "")</div>
		<div @ViewHelper.Edit(Model,"CssClass")>@Html.Raw(Model.CssClass ?? "")</div>
		<div @ViewHelper.Edit(Model,"HtmlAdv")>@Html.Raw(Model.HtmlAdv ?? "")</div>
	</div>
</div>
}