@if (Model != null)
{ 
<div>
	<h3 class="title" @ViewHelper.Edit(Model,"Title")>@Html.Raw(Model.Title ?? "")</h3>
	<div class="content">
		<div @ViewHelper.Edit(Model,"Category")>@Html.Raw(Model.Category ?? "")</div>
		<div @ViewHelper.Edit(Model,"SubTitle")>@Html.Raw(Model.SubTitle ?? "")</div>
		<div @ViewHelper.Edit(Model,"OS")>@Html.Raw(Model.OS ?? "")</div>
		<div @ViewHelper.Edit(Model,"Thumbnail")>@Html.Raw(Model.Thumbnail ?? "")</div>
		<div @ViewHelper.Edit(Model,"Link")>@Html.Raw(Model.Link ?? "")</div>
		<div @ViewHelper.Edit(Model,"Order")>@Html.Raw(Model.Order ?? "")</div>
	</div>
</div>
}