<div class="mnw">
  <div class="cont">
    <div class="foc">
      <h2>Newsletter featuring Gartner research</h2>
      <a href="#" class="link" target="_blank" title="New Window">
        <p class="tit">Ransomware<br />Response: Ideal<br />versus Reality</p>
        <div class="txtWrap">
          <p>There has been a sharp increase in ransomware, and new ransomware and their variants continue to surface, causing damages not only to companies but also to individual users. This newsletter introduces the latest ransomware trends and best practices for ransomware response using AhnLab MDS.</p>
        </div>
      </a> 
    </div>
    @Html.FrontHtml().RenderView("Security.InsightHome")
    <div class="mnIf">
      <a href="@Url.FrontUrl().PageUrl("security/techReport")" class="col">
        @("Tech<br />Report".Label())
        <p class="date">@("Weekly Security News".Label())</p>
      </a>
      <a href="@Url.FrontUrl().PageUrl("security/asec-report")" class="col2">
        @("ASEC<br />Report".Label())
        <p class="date">@("Technology Trends in One Sight".Label())</p>
      </a>
    </div>
    @Html.FrontHtml().RenderView("Security.VirusHome")
    <div class="rollBann" id="d-image-banner">
      <button type="button" class="anim stop"><span class="blind">Animation stop</span></button>
      <ul>
        @if (ViewBag.Slides != null)
        {
          foreach (var item in ViewBag.Slides)
          {
            <li>
              <button type="button" class="cir"><span class="blind">@item.SubTitle</span></button>
              <a href="@item.Link" target="_self" class="bann" title="">
                <img src="@Url.FrontUrl().ResizeImageUrl(item.ImageOfText, 267, 126)" class="bann" alt="@item.Title" />
              </a>
            </li>
          }
        }
      </ul>
    </div>
  </div>
</div>
