<div class="mnt">
    <div class="vis" id="d-main-visual">
        <!-- <button type="button" class="anim play"><span class="blind">Animation play</span></button> -->
        <button type="button" class="anim stop"><span class="blind">Animation stop</span></button>
        @if (ViewBag.Slides != null)
        {
            var i = 0;
            foreach (var item in ViewBag.Slides)
            {
                <div class="visWrap">
                    <button type="button" class="cir"><span class="blind">@item.Title</span></button>
                    <div class="pic" style="left:@(i)00%;background-color:#423d39;background-image:url('@item.BgImage');">&nbsp;</div>
                    <div class="txtWrap" style="left:@(i)00%;">
                        <div class="txt">
                            <img src="@item.ImageOfText" alt="@item.Title" />
                        </div>
                    </div>
                </div>
                i++;
            }
        }
    </div>
    <div class="pri">
        <div class="cont">
            <div class="warn">
                <h2>Security Risk<br />Level</h2>
                <div class="wrCont">
                    <a href="#" class="warn3">
                        <p class="blind">Level 3:High</p>
                        <p class="date">
                            <script type="text/javascript">document.write(ASEC_AUTOMADE_ENG_VER);</script>
                        </p>
                    </a>
                </div>
                <a href="#" class="moreLh">New Virus &amp; Spyware</a>
            </div>
            <div class="noti">
                <h2 id="noticeDiv" class="on"><a href="#" class="noticeCss" onclick="goNotice(); return false;">Notice</a><span>&nbsp;</span></h2>
                <div class="list" id="noticeListDiv" style="display:block;">
                    <ul>
                        <form method="post" name="noticeForm" id="noticeForm">
                            <input type="hidden" id="pressSeq1" name="pressSeq" value="0" />
                            <li>
                                <a href="#">[Notice] Maintanence Scheduled for &#039;Summit Suspicious Files&#039; on Jan 26nd~27nd(GMT+9)</a>
                                <span class="date">01.21.2016</span>
                            </li>
                            <li>
                                <a href="#">[Notice] End of Sales Notice on Two V3 Products (November 20, 2014)</a>
                                <span class="date">08.25.2015</span>
                            </li>
                            <li>
                                <a href="#">[Notice] Website Renovation Scheduled on November 27(GMT+9)</a>
                                <span class="date">11.26.2014</span>
                            </li>
                        </form>
                    </ul>
                    <a href="#" class="moreLh" title="Notice">More</a>
                </div>
                <h2 id="pressDiv"><a href="#" class="pressCss" onclick="goPress(); return false;">Press Releases</a></h2>
                <div class="list" id="pressListDiv">
                    <ul>
                        <form method="post" name="pressForm" id="pressForm">
                            <input type="hidden" id="pressSeq2" name="pressSeq" value="0" />
                            <li>
                                <a href="#">Frost &amp; Sullivan Recognizes AhnLab with the 2015 South Korea Technology Innovation Award in APT Solutions</a>
                                <span class="date">09.21.2015</span>
                            </li>
                            <li>
                                <a href="#">AhnLab introduces its Anti-APT Security Solutions at CommunicAsia 2014</a>
                                <span class="date">06.18.2014</span>
                            </li>
                            <li>
                                <a href="#">AhnLab Presents Session on Stopping Malware to Protect Digital Assets at IANS Chicago Information Security Forum</a>
                                <span class="date">10.30.2013</span>
                            </li>
                        </form>
                    </ul>
                    <a href="#" class="moreLh" title="Press Releases">More</a>
                </div>
            </div>
            <div class="prod">
                <a href="#">
                    <h2>AhnLab MDS</h2>
                    <p>A Complete Defense<br />Strategy against<br />Next-Generation Threats</p>
                    <img src="@Url.FrontUrl().ThemeFileUrl("image/en/main/img_main_prod.png")" class="photo" alt="" />
                    <span class="moreLh">More</span>
                </a>
            </div>
        </div>
    </div>
</div>