<div class="mnt">
    <div class="vis" id="d-main-visual">
        <!-- <button type="button" class="anim play"><span class="blind">Animation play</span></button> -->
        <button type="button" class="anim stop"><span class="blind">Animation stop</span></button>
        @if (ViewBag.Slides != null)
        {
            var i = 0;
            foreach (var item in ViewBag.Slides)
            {
                <div class="visWrap">
                    <button type="button" class="cir"><span class="blind">@item.Title</span></button>
                    <div class="pic" style="left:@(i)00%;background-color:#423d39;background-image:url('@item.BgImage');">&nbsp;</div>
                    <div class="txtWrap" style="left:@(i)00%;">
                        <div class="txt">
                            <img src="@item.ImageOfText" alt="@item.Title" />
                        </div>
                    </div>
                </div>
                i++;
            }
        }
    </div>
    <div class="pri">
        <div class="cont">
            @Html.FrontHtml().RenderView("Security.RiskLevelCurrent")
            <div class="noti">
                @Html.FrontHtml().RenderView("Support.NoticeHome")
                @Html.FrontHtml().RenderView("About.PressReleasesHome")
            </div>
            @Html.FrontHtml().RenderView("Product.IsHotHome")
        </div>
    </div>
</div>