@if (Model != null)
{ 
<div>
	<h3 class="title" @ViewHelper.Edit(Model,"Question")>@Html.Raw(Model.Question ?? "")</h3>
	<div class="content">
		<div @ViewHelper.Edit(Model,"UserName")>@Html.Raw(Model.UserName ?? "")</div>
		<div @ViewHelper.Edit(Model,"Email")>@Html.Raw(Model.Email ?? "")</div>
		<div @ViewHelper.Edit(Model,"ContactNumber")>@Html.Raw(Model.ContactNumber ?? "")</div>
		<div @ViewHelper.Edit(Model,"ProductUUID")>@Html.Raw(Model.ProductUUID ?? "")</div>
		<div @ViewHelper.Edit(Model,"ProductName")>@Html.Raw(Model.ProductName ?? "")</div>
		<div @ViewHelper.Edit(Model,"Details")>@Html.Raw(Model.Details ?? "")</div>
		<div @ViewHelper.Edit(Model,"Attachment")>@Html.Raw(Model.Attachment ?? "")</div>
		<div @ViewHelper.Edit(Model,"Answer")>@Html.Raw(Model.Answer ?? "")</div>
	</div>
</div>
}